<!DOCTYPE html>
<html>

<head>
	<title>Artihaus</title>
	<meta charset="utf-8">
</head>

<body>
	<h2>Welcome to Artihaus</h2>
	<div id='root'></div>
	{{{body}}}
</body>

<script>
	
</script>

</html>