<!DOCTYPE html>
<html>
<head>
	<title>ArtihausAPI</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<h2>Artihaus API</h2>
	<div id='root'></div>
	{{{body}}}
</body>

<script>
	
</script>

</html>